@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: wheat;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
  opacity: 1;
}

.container.show-nav {
  transform: rotate(-20deg);
  opacity: 0.3;
}

.circle-container {
  position: fixed;
  top: -4vh;
  left: -4vh;
  z-index: +100;
}

.circle {
  background-image: linear-gradient(
    10deg,
    rgb(1, 74, 22),
    rgb(12, 116, 41),
    rgb(13, 224, 55)
  );
  height: 22vh;
  width: 22vh;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

button {
  display: flex;
  cursor: pointer;
  position: relative;
  height: 12vh;
  width: 12vh;
  top: 33%;
  left: 33%;
  border: 0;
  border-radius: 50%;
  background: transparent;
  font-size: 8vh;
  color: rgb(248, 224, 240);
}

button:focus {
  outline: none;
}

#close {
  display: none;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: rgb(252, 252, 252);
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}
