@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-image: url('./img/js-code.jfif');
  background-size: cover;
  color: #2d2013;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.main-container {
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.title-div-background {
  position: relative;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

h2 {
  position: relative;
  font-size: 19vh;
  color: yellow;
  text-align: center;
}

.apps-div {
  background-color: rgba(0, 0, 0, 0.55);
  border: 0;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}
iframe {
  border: 0;
  height: 100%;
  width: 100%;
}
.app {
  border: 0;
  height: 55vh;
  border: 0;
}
.app-01 {
  background-color: whitesmoke;
  width: 100%;
  height: 33vh;
}
.app-02 {
  background-color: rgb(163, 163, 34);
  width: 40%;
}
.app-03 {
  background-color: rgb(5, 216, 93);
  width: 59%;
}
.app-04 {
  background-color: rgb(0, 144, 240);
  width: 50%;
}
.app-05 {
  width: 29%;
}
.app-06 {
  width: 20%;
}

@media (max-width: 1350px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
  h2 {
    font-size: 10vh;
  }
}
@media (max-width: 860px) {
  .apps-div {
    flex-direction: column;
    width: 100%;
  }
  .app {
    width: 100%;
  }
}
