a {
  text-decoration: none;
  color: #08fa10;
  font-family: sans-serif;
  font-size: 46px;
  border: 5px solid rgb(2, 179, 17);
  border-radius: 6%;
  padding: 30px 30px;
  position: relative;
  overflow: show;
  transition: all 1s;
}
/* Group 1*/
#btn-001:before,
#btn-001:after {
  content: '';
  position: absolute;
  width: 26%;
  height: 100%;
  z-index: -1;
  transition: all 0.5s;
}
#btn-001:before {
  background-color: red;
  top: 33%;
  left: -32%;
}
#btn-001:hover:before {
  top: 0;
  left: 0%;
}
#btn-001::after {
  background-color: red;
  top: -180%;
  left: 25%;
}
#btn-001:hover:after {
  top: 0%;
  left: 25%;
}
#btn-001 span:before,
#btn-001 span:after {
  content: '';
  position: absolute;
  width: 26%;
  height: 100%;
  background-color: orange;
  z-index: -1;
  transition: all 0.9s;
}
#btn-001 span::before {
  right: 130%;
  top: 25%;
}
#btn-001:hover span::before {
  top: 0;
  right: 25%;
}
#btn-001 span::after {
  right: 0;
  top: 120%;
}
#btn-001:hover span::after {
  top: 0;
  right: 0;
}
#btn-001:hover span {
  color: whitesmoke;
}
#btn-001:hover {
  border-color: transparent;
  transform: scale(1.1);
}

#btn-002:before,
#btn-002:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: gold;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
  z-index: -1;
  opacity: 0;
}
#btn-002::before {
  left: 0;
  box-shadow: -100px 0 0 seashell;
}
#btn-002::after {
  right: 0;
  box-shadow: 100px 0 0 seashell;
}
#btn-002:hover:before {
  left: 50%;
  box-shadow: 30px 0 0 seashell;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}
#btn-002:hover:after {
  right: 50%;
  box-shadow: -30px 0 0 seashell;
  transform: translateX(50%) translateY(-50%);
}
#btn-002 span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gold;
  border-radius: 8px;
  transform: scale(0);
  transition: all 0.3s;
  z-index: -1;
}
#btn-002:hover span {
  transform: scale(1);
  transition-delay: 0.4s;
}
#btn-002:hover {
  border: 0;
  color: black;
  transition-delay: 0.4s;
}

#btn-003 {
  overflow: show;
}
#btn-003:hover {
  color: whitesmoke;
  border: 0;
}
#btn-003::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  opacity: 0;
  transition: all 0.8s;
}
#btn-003:hover::before {
  opacity: 1;
  transform: rotate(15deg) scale(0.6);
  transition: all 1s;
}
#btn-003 span {
  color: transparent;
  position: relative;
}
#btn-003 span::before {
  content: 'H';
  position: absolute;
  color: #08fa10;
  transition: all 0.2s;
}
#btn-003:hover span::before {
  color: white;
  font-size: 40px;
  margin-right: 80px;
  transform: translate(-30%, -10%) scale(2);
}

#btn-004:hover {
  background-color: rgb(177, 177, 177);
  color: black;
  border-color: rgb(95, 95, 95);
}
#btn-004::before {
  content: '';
  position: absolute;
  top: 0;
  left: -110%;
  width: 100%;
  height: 4px;
  background-color: whitesmoke;
  transition: all 0.5s;
}
#btn-004:hover::before {
  left: 0;
}
#btn-004::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -110%;
  width: 100%;
  height: 4px;
  background-color: whitesmoke;
  transition: all 0.5s;
}
#btn-004:hover::after {
  right: 0;
}
#btn-004 span::before {
  content: '';
  position: absolute;
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: whitesmoke;
  transition: all 0.5s;
}
#btn-004:hover span::before {
  top: 0;
}
#btn-004 span::after {
  content: '';
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: whitesmoke;
  transition: all 0.5s;
}
#btn-004:hover span::after {
  top: 0;
}

#btn-005:hover {
  color: whitesmoke;
  border: 0;
}
#btn-005 .wave {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: calc(100% + 22px);
  background-color: #00aeff;
  transition: all 1s;
  z-index: -1;
}
#btn-005:hover .wave {
  top: 0;
}
#btn-005 .wave::before {
  content: '';
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  background: url(../img/wave.png);
  animation: wavy 0.5s linear infinite;
}
@keyframes wavy {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 118px;
  }
}

#btn-006 {
}
#btn-006 span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 2px solid black;
  z-index: -1;
}
#btn-006 span:before {
  content: '';
  position: absolute;
  width: 8%;
  height: 500%;
  background-color: rgb(129, 129, 129);
  top: 50%;
  left: 50%;
  transition: all 0.2s;
  transform: translate(-50%, -50%) rotate(-60deg);
}
#btn-006:hover span:before {
  width: 100%;
  background-color: black;
  transform: translate(-50%, -50%) rotate(60deg);
}
#btn-006:hover {
  color: whitesmoke;
  border-color: cadetblue;
}

#btn-0:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(0, 195, 255);
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: top left;
  transform: rotate(-90deg);
  transition: all 1s ease;
}
#btn-0:hover:before {
  transform: rotate(0deg);
}
#btn-0:hover {
  color: black;
  border: 0;
  font-style: italic;
  font-weight: 450;
}

#btn-1:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(4, 88, 29);
  z-index: -1;
  transform: translateY(100%);
  transition: all 1s;
}
#btn-1:hover::before {
  transform: translateY(0);
}
#btn-1:hover {
  color: rgb(12, 226, 76);
}

#btn-2:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(80, 114, 122);
  z-index: -1;
  transition: all 1s;
  transform: rotateX(-90deg);
}
#btn-2:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(17, 13, 224);
  z-index: -1;
  transition: all 1s;
  transform: rotateY(-90deg);
}
#btn-2:hover:before {
  transform: rotateX(0deg);
}
#btn-2:hover:after {
  transform: rotateY(0deg);
}
#btn-2:hover {
  transform: scale(1.3);
  border: 0;
  color: whitesmoke;
}

#btn-3:hover {
  background-color: rgb(245, 221, 221);
  color: rgb(240, 8, 8);
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 10px solid rgb(240, 8, 8);
}

#btn-4:before {
  content: 'ORDER';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: aquamarine;
  color: black;
  font-weight: 900;
  font-size: 35px;
  transform: translateY(-100%);
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#btn-4:hover::before {
  transform: translateY(0);
}

#btn-5:before {
  content: '';
  background-color: whitesmoke;
  left: 0;
  top: 50px;
  height: 50px;
  width: 48vw;
  position: absolute;
  transition: all 0.9s;
  transform: translateX(-100%) rotate(45deg);
}
#btn-5:hover:before {
  transform: translateX(100%) rotate(45deg);
}
#btn-5:hover {
  color: seashell;
  background-color: rgb(7, 71, 100);
  border-color: grey;
}

#btn-6 {
  color: transparent !important;
  overflow: hidden;
  background-color: rgb(34, 14, 209);
  border-color: rgb(7, 124, 133);
}
#btn-6:hover {
  border-color: rgb(19, 190, 202);
}
#btn-6::before {
  content: 'Done';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
#btn-6::after {
  content: 'Checkout';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(207, 143, 6);
  color: whitesmoke;
  border-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: translate(-100%, 100%);
}
#btn-6:hover:before {
  transform: translate(100%, -100%);
}
#btn-6:hover:after {
  transform: translate(0, 0);
  border-color: whitesmoke;
}

#btn-7:before {
  content: 'over';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(177, 8, 120);
  color: whitesmoke;

  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(6);
  opacity: 0;
  transition: all 0.5s;
}
#btn-7:hover:before {
  transform: scale(1);
  opacity: 1;
}
#btn-7:hover {
  border-color: whitesmoke;
}

#btn-8:hover {
  color: darkgreen;
  border-color: black;
}
#btn-8:before {
  content: '';
  position: absolute;
  bottom: -80px;
  left: -100px;
  width: 200%;
  height: 300%;
  transform: rotate(180deg);
  background-color: white;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  height: 0%;
  transition: all 1.5s;
}
#btn-8:hover:before {
  height: 200%;
}

#btn-9:before {
  content: 'HOVER';
  position: absolute;
  top: 0;
  left: 0;
  width: 96%;
  height: 90%;
  background-color: rgb(1, 126, 43);
  color: rgb(189, 207, 190);
  border-radius: 6%;
  border-color: rgb(28, 161, 72);
  border: 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.6s;
}
#btn-9:hover::before {
  transform: rotateX(0deg);
}
#btn-9::after {
  content: 'HOVER';
  position: absolute;
  top: 0;
  left: 0;
  width: 96%;
  height: 90%;
  background-color: rgb(6, 207, 50);
  color: beige;
  border-radius: 6%;
  border-color: rgb(226, 158, 10);
  border: 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  transition-delay: 0.25s;
}
#btn-9:hover:after {
  transform: rotateX(0deg);
}

#btn-10:before {
  content: 'HOVER';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(72, 72, 72);
  color: rgb(4, 151, 70);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s;
}
#btn-10:hover:before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}
#btn-10:after {
  content: 'HOVER';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgb(5, 155, 0);
  color: rgb(213, 219, 212);

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: scale(0) rotateY(0deg);
  opacity: 0;
}
#btn-10:hover:after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}
#btn-10:hover {
  border-color: rgb(213, 219, 212);
}
#btn-10 {
  color: transparent;
}

#btn-11 {
  background-color: transparent;
  transform: scale(1);
  transition: all 0.3s;
  border: 0;
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btn-11:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: #0436c0;
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.1s;
  transform-origin: top;
}
#btn-11:hover::before {
  top: -6px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}
#btn-11:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: #e00202;
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.1s;
  transform-origin: bottom;
}
#btn-11:hover::after {
  top: 6px;
  left: 0;
  transform: perspective(1000px) rotateX(-75deg);
}
#btn-11:hover {
  color: rgb(238, 230, 238);
}

#btn-12 {
  border: none;
  border-radius: 0;
  color: whitesmoke;

  cursor: pointer;
  position: relative;
}
#btn-12:hover {
  color: rgb(255, 127, 23);
  transition: all 1s ease;
}
#btn-12::before {
  content: '';
  position: absolute;
  height: 20%;
  width: 10%;
  top: 3%;
  left: 3%;
  border-top: 2px solid gold;
  border-left: 2px solid gold;
  transition: all 0.25s;
}
#btn-12:hover::before,
#btn-12:hover::after {
  height: 80%;
  width: 80%;
  transition: all 1s;
}
#btn-12::after {
  content: '';
  position: absolute;
  height: 20%;
  width: 10%;
  bottom: 0;
  right: 0;
  border-bottom: 2px solid gold;
  border-right: 2px solid gold;
  transition: all 0.25s;
}

#btn-13 {
  border: 0;
  color: whitesmoke;
}
#btn-13:hover {
  color: #d3d3d3;
}
#btn-13::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 50%;
  left: -1%;
  top: -5%;
  background-color: #ee5253;
  transform: skewX(30deg);
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#btn-13:hover:before {
  transform: skewX(0deg);
  left: 50%;
  top: 0;
}
#btn-13::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 50%;
  left: 51%;
  top: 5%;
  background-color: darkblue;
  transform: skewX(30deg);
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#btn-13:hover::after {
  transform: skewX(0deg);
  left: 0%;
  top: 0;
}

/* Group 2*/
#background:hover {
  background-color: rgb(0, 141, 31);
  color: whitesmoke;
}
#color:hover {
  color: rgb(0, 167, 238);
}
#color:hover {
  font-size: 60px;
}
#height:hover {
  height: 150px;
}
#width:hover {
  width: 340px;
}
#letter-spacing:hover {
  letter-spacing: 5px;
  font-size: 40px;
}
#line-height:hover {
  line-height: 90px;
}
#margin-bottom:hover {
  margin-bottom: 50px;
}
#margin-top:hover {
  margin-top: 50px;
}
#opacity:hover {
  opacity: 0.3;
}
#padding:hover {
  padding: 45px;
}
#border-color,
.border-width {
  border: 6px solid rgb(2, 92, 21);
}
#border-color:hover {
  border-color: rgb(7, 236, 38);
  color: rgb(234, 238, 0);
}
#border-width:hover {
  border-width: 30px;
  color: lightgreen;
}
